---
import { getCollection } from "astro:content";
import NewsCard from "../cards/NewsCard.astro";

const news = (await getCollection("news"))
.sort((a,b)=>b.data.date.getTime()-a.data.date.getTime())
.slice(0,6);
---

<section class="mx-auto max-w-7xl px-6 py-24">

    <div class="mb-12 flex items-center justify-between">

        <div>

            <p class="uppercase tracking-[0.3em] text-violet-400 font-semibold">
                Latest
            </p>

            <h2 class="mt-2 text-5xl font-black text-white">
                Latest News
            </h2>

        </div>

        <a
            href="/news"
            class="font-semibold text-violet-400"
        >
            View All →
        </a>

    </div>

    <div class="grid gap-8 lg:grid-cols-3">

        {
            news.map(article=>(
                <NewsCard

                    title={article.data.title}
                    excerpt={article.data.excerpt}
                    image={article.data.image}
                    slug={article.id}
                    date={article.data.date}

                />
            ))
        }

    </div>

</section>